---
extends: default

rules:
  line-length:
    max: 160
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  comments:
    min-spaces-from-content: 1

ignore: |
  inventory/*/group_vars/*/vault.yml
